.text-facebook{
  color: #0000ff;
}

.text-instagram{
  color: #e4405f;
}

.text-twitter{
  color: #55acee;
}

.text-linkedin{
  color: #0077B5;
}

.text-youtube{
  color: #dd4b39;
}

.text-twitch{
  color: #A142F7;
}

/* [class*=sidebar-dark-] .sidebar-dark-primary {
  background: #071727 !important;
} */