
.dropdown-toggle::after {
  display: none !important;   
}
ul, ol{
  padding: 0;
  list-style: none;
  text-decoration: none; 
}
a:link, a:visited,  a:hover, a:active{
  text-decoration: none !important;
  color: inherit !important;
}

.main-footer{
  border-top: 0 !important;
}


  