
.dropdown-toggle::after {
  display: none !important;   
}

ul, ol{
  padding: 0;
  list-style: none;
  text-decoration: none; 
}
a:link, a:visited,  a:hover, a:active{
  text-decoration: none !important;
  color: inherit !important;
}

.main-footer{
  border-top: 0 !important;
}

[class*=sidebar-dark-] .sidebar a {
  color: #c2c7d0 !important;
}

[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
  color: rgba(255,255,255,.8) !important;
}

.page-error{
height: 50vh !important;
}

.page-error{
  height: 50vh !important;
}